body{
    font-family: 'Poppins', sans-serif;
}
                                                        /*INICIO DO HEADER*/
header{
    background-color: #FF3864;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
img{
    height: 60px;
    border-radius: 55%;
}

a{  
text-decoration: none;
color: white;
margin-left: 30px; 
}
a::before{
    display: inline-block;
    content:"";
    background-color: #ffffff ;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

#button{
    display: inline-block;
    background-color: #1A1A71;
    height: 20px;
    line-height: 20px;
    padding:10px 25px 10px 15px;
    border-radius: 100px;
    border: rgb(255, 255, 255) solid 2px;
}
#button::before{
    content: "";
    background-color: #ffffff00 ;
    padding: 0%;
}
#button:hover{
    content: "";
    color: #FF3864;
    border: rgb(255, 0, 85) solid 2px;
    box-shadow:none;
    background-color: rgb(255, 255, 255);
}
                                                        /*FIM DO HEADER*/
                                                        /*iNICIO DO MAIN*/
main{
    display: flex;
    height: 100vh;
    border: 5px solid black;
    
}

                                    /* I BACKGROUND*/
#divA{
    background-image: url(/assets/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 65vw;
    border-right: 5px solid black; 
}

#divB{
    background-image: url(/assets/bg2.png);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: left;
    width: 34vw; 
}
                                    /* F BACKGROUND*/
                                   /* I SECTION*/
#container{
    position: relative;
    margin-top: 107px;
    margin-left: 107px;
}
#section1{
    display: table;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 27px;
    height: 184px;
    padding: 20px;
    box-shadow: black 4px 4px; 
    
}
h1{
    color: #FF3864;
    font-weight: 600;
    font-size: 50px;
    padding-right: 100px;
    margin-bottom: 20px;
}

h2{
    color: black;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    font-style: italic;
    padding-left: 15px; 
}
h2::before{
    display:   inline-block;
    content:"";
    background-color: #FF3864 ;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 50%;
 }
 #TXT1{
     display: flex;
     margin: 20px;
 }
.buttons{
    background-color: #FF3864;
    padding: 20px;
    border-radius: 27px;
    margin-right: 60px;
}


