.dot{  
    text-decoration: none;
    color: white;   
    margin-left: 30px; 
}
.dot::before{
    display: inline-block;
    content:"";
    background-color: #ffffff ;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
}