.loading{
    Width :320px;
    Height :40px;
    background-color: white;
    border: solid black 5px;
    display: flex;
}
.loading::before{
    content:"";
    width: 50%;
    background-color: #ff3864;
}